body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f1f30, #3f3f5a);
    color: #00ffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10; /* To make sure it stays on top */
}

.running-text {
    color: #0ff;
    font-weight: bold;
    font-size: 1em; /* Adjusted for mobile */
    background-color: rgba(0, 0, 0, 0.5); /* Background to make text more readable */
    padding: 5px;
    overflow: hidden;
}

#datetime {
    font-size: 0.9em;
    color: #00ffcc;
    position: absolute;
    right: 10px;
    top: 5px;
}

.container {
    text-align: center;
    width: 90%; /* Make it responsive */
    max-width: 350px; /* Limit the width */
    padding: 15px;
    margin-top: 80px;
    background-color: rgba(0, 30, 30, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 15px #00ffcc;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #555;
    font-size: 14px; /* Adjusted for mobile */
}

button {
    background-color: #00ffcc;
    color: #1c1c1e;
    font-weight: bold;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px; /* Adjusted for mobile */
}

.step-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 14px; /* Adjusted for mobile */
}

.step-header {
    text-align: right;
    padding: 5px;
    color: #00ffcc;
}

.step-value {
    text-align: center;
    padding: 5px;
}

.step-decimal {
    text-align: left;
    padding: 5px;
    color: #fffb;
}

@media (max-width: 600px) {
    .header {
        padding: 0 10px;
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    .step-table {
        font-size: 12px;
    }
}
